{% extends "base.html" %}

{% block content %}
<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="page-header">
			<h1>A propos de nous ...</h1>
		</div>
		<p>Cette application a été conçue et réalisée dans le cadre du projet final du module de web développent pour TELECOM Nancy. La documentation se trouve si le <a href="https://github.com/quentinl-c/projet_progweb">dépôt github</a> utilisé pour l'occasion.</p>
		<div class="alert alert-warning" role="alert">Attention ce projet ne contient pas d'easter egg !</div>
	</div>
</div>
{% endblock %}