{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="row clearfix first-row">
	 <div class="col-md-12 column">
		<div class="jumbotron">
		 <img src="assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
		
		<form class="" role="form">
			<div class="form-group">
		    <label for="exampleInputEmail1">Login</label>
		    <input class="form-control" id="login" placeholder="Votre Login" type="text">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Adresse email</label>
		    <input class="form-control" id="email" placeholder="Enter email" type="email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Adresse </label>
		    <input class="form-control" id="address" placeholder="Votre adresse" type="text">
		  </div>
		  <div class="row clearfix">
		  	<div class="col-md-4 column">
		  		<div class="form-group">
		    <label for="exampleInputEmail1">Jour de naissance</label>
		    <input class="form-control" id="day" placeholder="01" type="text">
		  </div>
		  	</div>
		  	<div class="col-md-4 column">
		  		<div class="form-group">
		    <label for="exampleInputEmail1">Mois de naissance</label>
		    <input class="form-control" id="month" placeholder="11" type="text">
		  </div>
		  	</div>
		  	<div class="col-md-4 column">
		  		<div class="form-group">
		    <label for="exampleInputEmail1">Année de naissance</label>
		    <input class="form-control" id="year" placeholder="1999" type="text">
		  </div>
		  	</div>
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Mot de passe</label>
		    <input class="form-control" id="password" placeholder="Password" type="password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Confirmation du mot de passe</label>
		    <input class="form-control" id="confirmation" placeholder="Confirmation du mot de passe" type="password">
		  </div>
		  
		  <button type="submit" class="btn btn-orange">S'enregistrer</button>
		</form>
	
	</div>
</div>
</div>
</div>
{% endblock %}