{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="row clearfix first-row">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<img src="assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
				<form method="post" class="" role="form">
					<div class="form-group">
						<label for="title">Titre</label>
						<input class="form-control" id="title" name="title" placeholder="Titre" type="text" {% if title %}value={{title}}{% endif %}>
						{% if error_title %}
						<p class="alert alert-danger frame-alert">{{error_title}}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="comment">Description</label>
						<textarea class="form-control" rows="5" id="comment" name="comment" placeholder="Votre description" >{% if comment %}{{comment}}{% endif %}</textarea>
						{% if error_comment %}
						<p class="alert alert-danger frame-alert">{{error_comment}}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="date">Date</label>
						<input type="date" class="form-control" id="date" name="date" {% if date %}value={{date}}{% endif %}>
						{% if error_date %}
						<p class="alert alert-danger frame-alert">{{error_date}}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="address">Adresse</label>
						<input type="checkbox" id="sameAd" name="sameAd">Adresse déjà enregistrée</input>
						<input class="form-control" id="address" name="address" placeholder="7 rue de Fleurus, Paris, France" type="text"{% if address %}value={{address}}{% endif %}>
					</div>
					<button type="submit" class="btn btn-orange">Publier</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}