{% extends "base.html" %}

{% block content %}
<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<img src="/assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
			<h2>Découvrez notre API !! </h2>
			<p>Si vous êtes développeur, vous pouvez utiliser notre API JSON ! Pour cela, il suffit de vous inscrire ! L'inscription est gratuite</p>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-3 column">
		<div class="list-group">
			<a href="/api/register" class="list-group-item">S'inscrire </a>
			<a href="/api/devLogin" class="list-group-item">Se connecter</a>
			<a href="/api/test" class="list-group-item">Tester l'API</a>
		</div>
	</div>
	<div class="col-md-9 column">
		<div class="page-header">
			<h1>Découvrez notre API JSON, facile d'utilisation !</h1>
		</div>
		<h2>Présentation :</h2>
		<p>Il est possible de communiquer avec l'application web S'il Te plait et ainsi partager les publications du site web ! Ce service est entièrement gratuit et est très facile d'utilisation. Vous pouvez dialoguer avec l'API, juste en utilisant une URL. Ce tutriel vous explique comment utiliser l'API. Attention, avant d'utiliser l'API vous devez posséder une clé, sans cette clé l'accés aux différents services de l'API vous seront refusés ! Pour obtenir une clé d'API, il vous suffit de vous inscrire gratuitement !</p>
	</div>
	<h2>Les différents services proposés</h2>
</div>
{% endblock %}