{% extends "layout.html" %}

{% block main %}
<div id="wrap">
	<div class="container">
		<div class="row clearfix first-row">
			<div class="col-md-12 column">
				<div class="jumbotron">
					<a href="/"><img src="/assets/img/header4.png" class="img-responsive image-header" alt="S'il Te Plait"/></a>
					<h2>Accéder aux services de l'API</h2>
					<div class="row">
						<p>Login : {{ login }} </p>
						<p>Email : {{ email }}</p>
						<p>Pour utiliser tous les services proposés par l'API, il vous suffit d'utiliser la clé d'API qui a été générée. Enjoy !<p>
						<p>Clé d'API :</p>
						<code class="key">{{ apiKey }}</code>
						<div class="row clearfix first-row">
						<div class="col-md-6 column">
							<a href="/api/devLogout"><button class="btn btn-lg btn-orange btn-block"><span class="glyphicon glyphicon-off"></span> Se déconnecter</button></a>
						</div>
						<div class="col-md-6 column"><a href="#"><button class="btn btn-lg btn-default btn-block"><span class="glyphicon glyphicon-book"></span> Revenir à la documentation API</button></a>
						</div>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}