{% extends "base.html" %}

{% block content %}
<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<img src="/assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
			<p>Publiez gratuitement vos tâches...</p>
			<form name="searchForm">
				<div class="input-group">
					<input class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Faites votre recherche..." type="text" name="search">
					<div class="input-group-btn">
						<button type="button" onclick="searchTasks()" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
				<div class="form-group">
					<select class="form-control dropdown-toggle" id="sel1">
						<option value="byname">Par demandeur</option>
						<option value="bytitle">Par titre</option>
					</select>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-3 column">
		<div class="list-group">
			<a href="/api/front" class="list-group-item">Découvrez notre API</a>
			<a href="#" class="list-group-item">En savoir plus sur nous</a>
		</div>
	</div>
	<div class="col-md-9 column">
		{% for i in range(0, 10) %}
			<div class="panel panel-default" style="display:none" id="task{{loop.index}}">
				<div class="panel-heading">
					<h3 class="header-panel"><a href="#"></a></h3>
				</div>
				<div class="panel-body">
					<p></p>
				</div>
				<div class="panel-footer"><em><a href="displayProfil/" class="author-panel"> </a> Pour le </em></div>
			</div>
		{% endfor %}
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" onclick="previousGroupOfTasks()"><span class="glyphicon glyphicon-chevron-left"></span> Tâches précédentes</button>
			<button type="button" class="btn btn-default" onclick="nextGroupOfTasks()">Tâches suivantes <span class="glyphicon glyphicon-chevron-right"></span></button>
		</div>
	</div>
</div>
{% endblock %}