{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="row clearfix first-row">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<img src="assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
				<form class="form-signin">
					<h2 class="form-signin-heading">Connecte-toi </h2>
					<label for="inputLogin" class="sr-only">Login</label>
					<input id="inputLogin" class="form-control" placeholder="login" required="true" autofocus="" >
					<label for="inputPassword" class="sr-only">Mot de passe</label>
					<input id="inputPassword" class="form-control" placeholder="Mot de passe" required="true" type="password">
					
					<button class="btn btn-lg btn-orange btn-block" type="submit">Se connecter</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}