{% extends "base.html" %}

{% block content %}
<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="page-header">
			<h1>Bienvenue QuentinDu44</h1>
		</div>
		<div class="jumbotron">
			<h2>Informations personnelles</h2>
			<div class="row">
				<div class="col-md-6 column">
					<p>Nom : Laporte-Chabasse</p>
					<p>Prénom : Quentin</p>
					<p>Date de naissance : 08.06.1992</p>
				</div>
				<div class="col-md-6 column">
					<p>Adresse : 666 rue de la paix</p>
					<p>Ville : Péta Houx Les Oix</p>
					<a href="#">Modifier les informations personnelles</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-6 column">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Tâches publiées</h4></div>
			<div class="panel-body">

				<table class="table">
					<thead>
						<tr>

							<th>Titre</th>
							<th>Date</th>
							<th>Plus d'informations</th>
						</tr>
					</thead>
					<tbody>
						<tr class="active">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="success">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="info">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="warning">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="danger">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="col-md-6 column">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Tâches effectuées</h4></div>
			<div class="panel-body">

				<table class="table">
					<thead>
						<tr>

							<th>Titre</th>
							<th>Date</th>
							<th>Plus d'informations</th>
						</tr>
					</thead>
					<tbody>
						<tr class="active">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="success">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="info">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="warning">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr>

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
						<tr class="danger">

							<td>Column content</td>
							<td>Column content</td>
							<td><a href="">Column content</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}