{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="row clearfix first-row">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<img src="assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
				
				<form method="post" class="">
					<h2 class="form-signin-heading">Inscris-toi </h2>
					<div class="form-group">
						<label for="exampleInputEmail1">Login</label>
						<input class="form-control" name="login" requiered="true" placeholder="Votre Login" type="text" value={{login}}>
						{% if error_login %}
						<p class="bg-danger">{{error_login}}</p>
						{% endif %}

					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Adresse email</label>
						<input class="form-control" name="email" requiered="true" placeholder="Enter email" type="email" value={{email}}>
						{% if error_email %}
						<p class="bg-danger">{{error_email}}</p>
						{% endif %}

					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Mot de passe</label>
						<input class="form-control" name="password" requiered="true" placeholder="Password" type="password">
						{% if error_password %}
						<p class="bg-danger">{{error_password}}</p>
						{% endif %}
					</div>

					<div class="form-group">
						<label for="exampleInputPassword1">Confirmation du mot de passe</label>
						<input class="form-control" name="confirmation" requiered="true" placeholder="Confirmation du mot de passe" type="password">
						{% if error_confirmation %}
						<p class="bg-danger">{{error_confirmation}}</p>
						{% endif %}
					</div>
					
					<button type="submit" class="btn btn-orange">S'enregistrer</button>
				</form>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}