{% extends "layout.html" %}

{% block main %}
<div class="container">
	<div class="row clearfix first-row">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<img src="assets/img/header3.png" class="img-responsive image-header" alt="S'il Te Plait"/>
				
				<form method="post" class="">
					<h2 class="form-signin-heading">Inscris-toi </h2>
					<div class="form-group">
						<label for="login">Login</label>
						<input class="form-control" id="login" name="login" required="true" placeholder="Votre Login" type="text" {% if login %}value={{login}}{% endif %}>
						{% if error_login %}
						<p class="alert alert-danger">{{error_login}}</p>
						{% endif %}

					</div>
					<div class="form-group">
						<label for="email">Adresse email</label>
						<input class="form-control" id="login" name="email" required="true" placeholder="Votre email" type="email" {% if email %}value={{email}}{% endif %}>
						{% if error_email %}
						<p class="alert alert-danger">{{error_email}}</p>
						{% endif %}

					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input class="form-control" id="password" name="password" required="true" placeholder="Votre mot de passe" type="password">
						{% if error_password %}
						<p class="alert alert-danger">{{error_password}}</p>
						{% endif %}
					</div>

					<div class="form-group">
						<label for="confirmation">Confirmation du mot de passe</label>
						<input class="form-control" id="confirmation" name="confirmation" required="true" placeholder="Confirmation du mot de passe" type="password">
						{% if error_confirmation %}
						<p class="alert alert-danger">{{error_confirmation}}</p>
						{% endif %}
					</div>
					
					<button type="submit" class="btn btn-orange pull-right">S'enregistrer</button>
				</form>
				
			</div>
		</div>
	</div>
</div>
{% endblock %}