{% extends "base.html" %}

{% block content %}

<div class="row clearfix first-row">
	<div class="col-md-12 column">
    <div class="page-header">
  <h1>Tondre ma pelouse <small>Publié par Quentin le 10.10.10</small></h1>
</div>
<h3>Descritpion : </h3>
		<div class="panel panel-default">
  <div class="panel-body">
    <p>Bonjour, je souhaite tondre la pelouse de mon jardin. Mon jardin fait 3 hectares et je n'ai pas de tondeuse, mais seulement une paire de ciseaux ! Je pense que c'est faisable ! Même si les mines disséminées ne vont pas arranger les choses. J'espère aussi que vous aimez les gros chients méchants !! </p>
    <address>
  <strong>Twitter, Inc.</strong><br>
  795 Folsom Ave, Suite 600<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
  </div>
</div>
</div>
<div class="row clearfix">
  <div class="col-md-12 column">
    <div class="btn-group btn-group-justified btn-gp" role="group" aria-label="Justified button group">

      <a href="#" class="btn btn-default" role="button">Je dois me désister</a>
     
      <a href="#" class="btn btn-orange" role="button">Je participe</a>
    
    </div>
  </div>
</div>
<div class="row clearfix">
	<div class="col-md-12 column">
<div id="map-canvas"></div>
  </div>
</div>


{% endblock %}