{% extends "base.html" %}

{% block content %}

<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="page-header">
			<h1>{{title}} <small>Publié par {{creator}} pour le {{date}}</small></h1>
		</div>
		<h3>Description :</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>{{content}}</p>
				{% if address %}
				<address>{{address}}</address>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			{% if auth %}
				{% if doneTask %}
					<p class="alert alert-success frame-alert">Vous avez effectué cette tâche !</p>
				{% elif acceptedTask %}
					<p class="alert alert-success frame-alert">Le demandeur a accepté votre proposition !</p>
					<a href="/cancelTask/{{taskId}}" class="btn btn-default" role="button">Je dois me désister</a>
				{% elif isPotentialProvider %}
					<p class="alert alert-warning frame-alert">Le demandeur n'a pas encore accepté votre proposition !</p>
					<a href="/cancelTask/{{taskId}}" class="btn btn-default" role="button">Je retire ma proposition</a>
				{% else %}
					<p class="alert frame-alert">Vous n'avez pas proposé de faire cette tâche</p>
					<a href="/registerForTask/{{taskOfferId}}" class="btn btn-orange" role="button">Je participe</a>
				{% endif %}
			{% else %}
				<a href="/login" class="btn btn-default" role="button">Connectez-vous pour participer !</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}