{% extends "base.html" %}

{% block content %}

<div class="row clearfix first-row">
	<div class="col-md-12 column">
		<div class="page-header">
			<h1>{{title}} <small>Publié par {{creator}} pour le {{date}}</small></h1>
		</div>
		<h3>Description :</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<p>{{content}}</p>
				{% if address %}
				 <address>{{address}}</address>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="btn-group btn-group-justified btn-gp" role="group" aria-label="Justified button group">
			{% if auth %}
				<a href="#" class="btn btn-default" role="button">Je dois me désister</a>
				<a href="#" class="btn btn-orange" role="button">Je participe</a>
			{% else %}
				<a href="/login" class="btn btn-default" role="button">Connectez-vous pour participer !</a>
			{% endif %}
			</div>
		</div>
	</div>
	{% if address %}
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="map-canvas"></div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}